.shadow {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.popup {
  width: 30%;
  position: absolute;
  background: white;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-shadow-popup {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: hidden;
}
button {
  margin-top: 0.5rem;
  padding: 0.1rem 0.5rem;
  background: none;
  border: 1px solid #293450;
  color: #293450;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
button:hover,
button:active {
  background: #293450;
  color: white;
}
